<launch>

    <node name="map_load" pkg="map_server" type="map_server" args="$(find map_load)/map/map.yaml" />

    <node pkg="tf" type="static_transform_publisher" name="gps2map" args="0.0 0.0 0.0 -1.470795 0.0 0.0 /map /world 50" />
    <!--node pkg="tf" type="static_transform_publisher" name="gps2map" args="131.081 80.781 0.0 -1.470795 0.0 0.0 /map /world 50" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="gps2map" args="15.271 1.820 0.0 -1.470795 0.0 0.0 /map /world 50" /-->

    <node pkg="rviz" type="rviz" name="map_rviz" output="screen" 
      args="-d $(find gps_viewer)/rviz/defalt.rviz" required="true">
    </node>
</launch>


