<launch>

  <node name="motor" pkg="motor_control" type="motor" output="screen"/>
  <node name="willtry" pkg="motor_control" type="phoneCommand.py" output="screen" />

  <!--node name="ultro" pkg="motor_control" type="stm32_ultro"  output="screen"/-->
  <!--include file="$(find ira_laser_tools)/launch/obs_detector.launch" /-->


</launch>
