<launch>

  <!--- Run NMEA-->
  <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver"/>

  <!--- Run GPS_VIEWER-->
  <node pkg="gps_viewer" type="gps_viewer" name="gps_viewer"/>

  <!--- Map Load -->
  <node name="map_load" pkg="map_server" type="map_server" args="$(find gps_viewer)/map/map.yaml" />

  <node pkg="tf" type="static_transform_publisher" name="gps2map" args="0.0 0.0 0.0 -1.470795 0.0 0.0 /map /world 50" />

  <!--- Run Rviz-->
  <node pkg="rviz" type="rviz" name="gps_rviz" args="-d $(find gps_viewer)/config/rviz_map.rviz" />

</launch>
