<launch>
    <arg name="project" default="lio_sam"/>

    <!--node pkg="$(arg project)" type="$(arg project)_pcd_map_view"   name="$(arg project)_pcd_map_view"    output="screen" 	respawn="true"/-->

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_relocolize.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <!--include file="$(find lio_sam)/launch/include/module_rviz.launch" /-->

</launch>
